* {
    margin: 0px;
    padding: 0px;
}

#grid {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}

.row {
    flex: 1;
    display: flex;
    border: 1px solid blue;
}

.square {
    flex: 1;
    border: 1px solid green;
}